<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" href="css/main.css">
<title>TeamMaker Main</title>
</head>
<body>
	<div class="adminMainContainer">
		<header>
			<div class="headerLeft">
				<h1>TeamMaker Admin</h1>
			</div>
			<div class="headerRight">
				
				Welcome! <span th:text="${session.loginedUser.name}"></span>님 
				<a href="logout">LogOut</a>
			</div>
		</header>
		
			<div class="adminMainBody">
				<div class="sideNavBox" >
					<div class="sideNavbar">	
					    <div class="sideNavMenu">
						    <a href="users/userMain">Member Main</a>
						</div>
						<div class="sideNavMenu">
						    <a href="users/userMain">Member List</a>
						</div>
						<div class="sideNavMenu">
						    <a href="users/userMain">Register Member</a>
						</div>
						<div class="sideNavMenu">
						    <a href="users/userMain">Gotcha!</a>
						</div>
						<div class="sideNavMenu">
						   
						</div>
						
						<div class="sideNavMenu">
						    <a href="boards/boardMain">Team Main</a>
						</div>
						<div class="sideNavMenu">
						    <a href="boards/boardMain">Team List</a>
						</div>
						<div class="sideNavMenu">
						    <a href="boards/boardMain">Create Team</a>
						</div>
						<div class="sideNavMenu">
						   
						</div>
						<div class="sideNavMenu">
						    <a href="boards/boardMain">Board Main</a>
						</div>
						<div class="sideNavMenu">
						    <a href="boards/boardMain">Board List</a>
						</div>
						<div class="sideNavMenu">
						    <a href="boards/boardMain">Create Board</a>
						</div>
					</div>	
				</div>
			<div class="adminMainContent">
				Content
			</div>
		</div>
		
	</div>
</body>
</html>