<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" href="css/main.css">
<title>TeamMaker Main</title>
</head>
<body>
	<header>
		<div class="headerLeft">
			<h1>TeamMaker Main</h1>
		</div>

	</header>
	<br>
	<a href="users/registerUser"><h4>Sign In</h4></a>
	<a href="main/login"><h4>Login</h4></a>
	<hr>
	<br>

	
</body>
</html>