<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" href="css/main.css">
<title>TeamMaker Main</title>
</head>
<body>
	<div class="mainContainer">
		<div class="mainLogo">
			<a href="/"><h1>TeamMaker Main</h1></a>
		</div>
	
		<div class="loginMenu">
			<div class="signInBox">
				<a href="users/registerUser"><h4>Sign In</h4></a>
			</div>
			<div class="loginBox">
				<a href="main/login"><h4>Login</h4></a>
			</div>
		</div>
	</div>	
</body>
</html>