<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="utf-8">
<title>Board Modify</title>
</head>
	<body>
	
		<form action="updateBoardProc" method="post">
			 <input type="hidden" name="idx" th:value="${dto.idx}" readonly />
			 <input type="hidden" name="boardcodeOld" th:value="${param.boardcode}" readonly /> 
			boardcode : <input type="text" name="boardcode" th:value="${dto.boardcode}" /><br>
			boardname : <input type="text" name="boardname" th:value="${dto.boardname}" /><br>
			
			
			 <input type="submit" value="submit"/>
		</form>
	</body>
</html>