<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" href="css/main.css">
<title>회원등록</title>
</head>
<body>
<a href="/"><h1>TeamMaker Main</h1></a>	
	<div class="registerContainer">
		<div class="registerTitle"> 
			<h1>Register User</h1>
		</div>
	
	
		<div class="registerBox">
			<form action="registerProc" method="post">
				<table class="registerTable">
					<tr>
						<td>Name</td>
						<td><input type="text" name="name"></td>
					</tr>
					<tr>
						<td>Userid</td>
						<td><input type="text" name="userid"></td>
					</tr>
					<tr>
						<td>Passwd</td>
						<td><input type="password" name="passwd"></td>
					</tr>
					<tr>
						<td>Email</td>
						<td><input type="text" name="email"></td>
					</tr>
					<tr>
						<td>Mobile</td>
						<td><input type="text" name="mobile"></td>
					</tr>
					<tr>
						<td>Bday</td>
						<td><input type="text" name="bday"></td>
					</tr>
				</table>
				<div class="registerBtm">
					<button  type="submit">
						Submit
					</button>
				</div>
			</form>
				<a href="/">
					<button>
						cancel
					</button>
				</a>
		</div>
	</div>
</body>
</html>